[package]
name = "clipture-rs"
version = "0.0.0"
description = "A Tauri App"
authors = ["sshcrack"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1", features = [] }

[dependencies]
tauri = { version = "1", features = ["shell-open"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
libobs-wrapper = { version = "0.2.2", features= ["unsafe-send"], path = "../../libobs-rs/libobs-wrapper" }
libobs-sources = { version = "0.1.0", path = "../../libobs-rs/libobs-sources" }
anyhow = { version = "1.0.86", features = ["backtrace"] }
crash-handler = "0.6.2"
minidumper = "0.8.3"
directories = "5.0.1"
tauri-plugin-log = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
lazy_static = "1.5.0"
libobs-window-helper = "0.1.2"

[features]
# This feature is used for production builds or when a dev server is not specified, DO NOT REMOVE!!
custom-protocol = ["tauri/custom-protocol"]

[package.metadata]
libobs-version = "30.2.2"
libobs-cache-dir = "../obs-build"
